/*
    Este archivo solo debe utilizarse para estilos genéricos de la aplicación.
*/
body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: "Lilita One", sans-serif;
    font-style: normal;
    color: #333232;
}

button, input {
    font-family: "Lilita One", sans-serif;
    height: 35px;
    border: 0;
    border-radius: 2px;
    color: #333232;
    cursor: pointer;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 1px 1px 2px gray;
}

h1 {
    padding: 0;
    margin: 10px;
}

.gold-button {
    background-color: #26880d;
    color: white;
    transition: 0.5s;

    &:hover {
        background-color: #1c6608;
    }
}

.empty-button {
    background-color: white;
    transition: 0.5s;
    &:hover {
        color: #1269ce;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: #1269ce;
        line-height: 15pt;
    }
}